In [1]:
from common.Pmf import Pmf
from c2.Cookie import Cookie
from c2.Monty import Monty
from c2.MontySuite import MontySuite
from c2.MM import MM

In [2]:
pmf = Pmf()

pmf.set('Bowl 1', 0.5)
pmf.set('Bowl 2', 0.5)
pmf.mult('Bowl 1', 0.75)
pmf.mult('Bowl 2', 0.5)

pmf.normalize()
pmf.d

        prob
hypo
Bowl 1   0.6
Bowl 2   0.4

In [3]:
hypos = ['Bowl 1', 'Bowl 2']
cookie = Cookie(hypos)
cookie.update('vanilla')
cookie.d

        prob
hypo
Bowl 1   0.6
Bowl 2   0.4

In [4]:
hypos = 'ABC'
monty = Monty(hypos)
monty.update('B')
monty.d

          prob
hypo
A     0.333333
B     0.000000
C     0.666667

In [5]:
hypos = 'ABC'
monty_suite = MontySuite(hypos)
monty_suite.update('B')
monty_suite.d

          prob
hypo
A     0.333333
B     0.000000
C     0.666667

In [6]:
mm = MM('AB')
mm.update(('bag1', 'yellow'))
mm.update(('bag2', 'green'))
mm.d

          prob
hypo
A     0.740741
B     0.259259